<h1>Seja bem vindo</h1>
<p><strong>Data: </strong><%= data_br(Date.today)%></p> 
<ul>
    <li>
        <a href="/coins">Cadastro de Moeda</a>
    </li>
    <li>
        <%= link_to "Cadastro de Moeda", coins_path %>
    </li>
</ul>
